.ReviewerStatus {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    max-width: 375px;
    border-radius: 25px;
    background-color: #ffffff;
    align-items: center;
    z-index: 2;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

.ReviewerStatus.minimized {
    height: 50px;
    justify-content: center;
}

.ReviewerStatus.maximized {
    height: 125px;
    justify-content: flex-start;
}

.ReviewerStatus .Status,
.ReviewerStatus .Description {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.3s; /* Delay for smoother transition */
}

.ReviewerStatus.maximized .Status,
.ReviewerStatus.maximized .Description {
    opacity: 1;
}

/* No opacity transition for icons */
.ReviewerStatus .IconStatus {
    display: flex;
}

.Status {
    display: flex;
    height: 30px;
    padding-inline: 20px;
    justify-content: center;
    background: transparent;
    opacity: 0;
}

.Description {
    display: flex;
    height: 30px;
    font-size: 14px;
    padding-inline: 20px;
    justify-content: center;
    opacity: 0;
}

/* Styling for text classes */
.NormalText,
.BlueText {
    padding-inline: 2.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.NormalText {
    color: rgb(0, 0, 0);
}

.BlueText {
    color: #4ab1e8;
}

/* Icon styling */
.DefaultMotorcycle,
.BlueMotorcycle,
.DefaultDestination,
.BlueDestination,
.DefaultCamera,
.BlueCamera,
.DefaultConfirm,
.BlueConfirm,
.DefaultLine,
.BlueLine {
    margin-block: 15px;
}

.DefaultMotorcycle,
.BlueMotorcycle {
    width: 30px;
    height: 30px;
}

.DefaultDestination,
.BlueDestination {
    width: 20px;
    height: 20px;
    margin-block: 20px;
}

.DefaultCamera,
.BlueCamera {
    width: 21px;
    height: 21px;
    margin-block: 20px;
    margin-inline: 2.5px;
}

.DefaultConfirm,
.BlueConfirm {
    width: 22.5px;
    height: 22.5px;
    margin-block: 19px;
}

.DefaultLine,
.BlueLine {
    width: 40px;
    height: 30px;
    margin-block: 15px;
    margin-inline: 8px;
}